<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../public/styles/index.css" />
    <title>Your APIs</title>
  </head>

  <body>
    <h3>From the provided data, your APIs are</h3>
    <h4>If your URL is broken, provide a base URL</h4>
    <p>
      <div class="">
            
            <% articles.forEach((article)=>{ %>
                <ul>
                    <li><b>Course name:</b>
                        <%= article.title %>
                    </li>
                    <li><b>Course Category:</b>
                        <%= article.url %>
                    </li>
                    <li><b>Topics:</b>
                        <%= article.source %>
                    </li>
                </ul>
            <% }) %>
        </div>       
    </p>
  </body>
</html>
