<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />
    <title>Welcome to Scrappy</title>
  </head>

  <body>
    <div class="main">
      <p>Hello Champs!</p>
      <h3>I invite you to my special API generator, for more info, 
        visit this <a href="https://github.com/mwchben/scrap-data-off-api">Documentation</a>
      </h3><p>Take note of the kind of Websites that work e.g., News Sites like BBC</p>
    </div>
    
    <div class="login">
      
    
      <form method="post" action="submit">
        <label for="name">Keyword: </label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="(e.g., AI)"
          required="required"
        />
        <label for="address">Website to scrape: </label>
        <input
          type="url"
          name="address"
          id="address"
          placeholder="(e.g., https://www.bbc.com/innovation/artificial-intelligence)"
          required="required"
        />
        <label for="baseURL">Optional Base URL: </label>
        <input
          type="url"
          name="baseURL"
          id="baseURL"
          placeholder="(e.g., https://www.bbc.com)"
        />

        <button type="submit" class="btn btn-primary btn-block btn-large">
          Scrape that!
        </button>
      </form>
    </div>
    
  </body>
</html>
