<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../public/styles/index.css" />
    <title><%= title%></title>
  </head>

  <body>
    <h1>The GUI to the scrap off data API</h1>
    <p>
      Follow the Github a/c for further diggin' to the site, 
      adios!!
    </p>
  </body>
</html>
