<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/index.css" />
  <title>Your Website?</title>
</head>

<body>
  <div class="resultBox">
    <h2>Confirmation Page</h2>
    <p>
      Dear user, your inputs are as follows:
    </p>
    <p>
    <ul>
      <% geeks.forEach(geek=> { %>
        <li>ID: <%= geek.id %>, Name: <%= geek.name %>, Language: <%= geek.language %>
        </li>
        <% }) %>
    </ul>
    The website provided is: <b>
      <%= seeInBrowser%>
    </b>, you are getting redirected in 5s...
    </p>
  </div>
</body>

</html>