<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/index.css" type="text/css"/>
  <title>Your Website?</title>
</head>

<body>
  <div class="resultBox">
    <h2>Confirmation Page</h2>
    <p>
      Dear user, your inputs are as follows:
    </p>
    <ul>
      <li><b>Keyword:</b> <%= seeInBrowser.keyword %></li>
      <li><b>URL:</b> <%= seeInBrowser.address %></li>
      <li><b>BaseURL:</b> <%= seeInBrowser.baseURL %></li>
    </ul>
    <p>
    <button> <a href="http://localhost:8000/">Confirm</a> </button>
    </p>
  </div>
</body>

</html>