<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />
    <title>Your Website?</title>
  </head>

  <body>
    <div class="main">
      <h2>Confirm your data and proceed</h2>
      <p>Dear champ, is this accurate?</p>
      <table style="width: 100%">
        <tr>
          <td>Keyword</td>
          <td><b> <%= seeInBrowser.keyword %> </b></td>
        </tr>
        <tr>
          <td>URL</td>
          <td><b> <%= seeInBrowser.address %> </b></td>
        </tr>
        <tr>
          <td>BaseURL</td>
          <td><b> <%= seeInBrowser.baseURL || 'Not Provided'%> </b></td>
        </tr>
      </table>

      <p>
        <a href="http://localhost:8000/">Confirm this</a><br />
        <a onclick="goBack()">Edit this</a>
       <br />
       <hr><h3>NB:</h3>
       After confirming, you can <a href="http://localhost:3001/download" download>download</a> your json file.
      </p>
    </div>

    <script>
      function goBack() {
        window.history.back();
      }
    </script>
  </body>
</html>
